@media (max-width: 1199px)
    html 
        font-size: 13px
    .header
        padding-bottom: 0
    .project-block
        margin: 2rem auto
    .block-popup img
        max-width: 800px
@media (max-width: 768px)
    .block-popup
        max-width: 700px
        img
            max-width: 700px
@media (max-width: 570px)
    html
        font-size: 10px
    .header p
        padding: 0 5px
    .footer .contacts
        flex-direction: column
    .block-popup
        max-width: 400px
        img
            max-width: 400px
@media (max-width: 502px)
    .header
        padding-top: 3rem
        h1
            margin-bottom: 3rem
    .project-block
        margin-bottom: 0
    .btn
        padding: 1.9rem 5.1rem 1.6rem
        margin: 2rem auto
@media (max-width: 375px)
    html
        font-size: 8px
    .header p
        text-align-last: left
    .block-popup
        max-width: 320px
        img
            max-width: 320px
@media (max-width: 320px)
    html
        font-size: 7px
    .header p
        padding: 0 5px
        font-size: 2rem
    .block-popup
        max-width: 250px
        img
            max-width: 250px