<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/magnific-popup.css")
        link(rel="stylesheet", href="css/main.css")
        title TZ for Datafolks
    body
        header.header
            .container
                .row
                    h1
                     |Реализованные проекты
                    p
                     |Коммуникационное агентство – часть многофункционального холдинга, объединяющего различные компании на территории России и ближнего
                     |зарубежья.
                    p
                     |Наши подходы к организации бизнеса и имеющиеся ресурсы позволяют одинаково эффективно обеспечивать реализацию как крупномасштабных
                     |федеральных или международных проектов, так и решать небольшие локальные задачи. Мы находимся в постоянном развитии, расширяя и укрепляя
                     |имеющиеся бизнес-направления, а также формируя новые.
        main.main
            .container
                .row.no-gutters
                    .col-xl-4
                        section.project-block
                            .block-more
                                p.par-more
                                 |Сахарская Арабская Демократическая
                                 |республика Западная Сахара
                                 |на севере граничит с Марокко
                                a(href="#block-1").btn.popup-link Подробнее

                                p.par-more-bot
                                 |организации и сопровождение
                                 |федерального ситуационно-
                                 |информационного центра
                            img(src="img/project-block-1.jpg" alt="Пустыня")
                            h2 Республика Сахара
                    .col-xl-4
                        section.project-block
                            .block-more
                                p.par-more
                                 |Российская энергетическая компания
                                 |Основные направления деятельности
                                 | — геологоразведка, добыча
                                a(href="#block-2").btn.popup-link Подробнее
                                p.par-more-bot
                                 |организации и сопровождение
                                 |федерального ситуационно-
                                 |информационного центра
                            img(src="img/project-block-2.jpg" alt="Маленькие футболисты")
                            h2 Газпром
                    .col-xl-4
                        section.project-block
                            .block-more
                                p.par-more
                                 |Финская транснациональная компания
                                 |телекоммуникационного оборудования ,
                                 |для мобильных
                                a(href="#block-3").btn.popup-link Подробнее
                                p.par-more-bot
                                 |организации и сопровождение
                                 |федерального ситуационно-
                                 |информационного центра
                            img(src="img/project-block-3.jpg" alt="Люди на конференции")
                            h2 Nokia
                .row
                    button.btn загрузить еще
        footer.footer
            .container
                .row
                    .col-xl-6
                        h3 Контакты
                        p Коммуникационное агентство
                        p.address
                         |344000, Россия, г. Ростов-на-Дону ул. Мира, д. 12 <br />
                         |Бизнес–центр &laquo;Рост&raquo;, оф. 104
                        .contacts
                            ul
                                li +7 (861) 300-11-28 
                                li +7 (861) 300-11-53 
                                li +7 (861) 300-11-52 
                            p
                             |Email: <br />
                             |info@example.com <br />
                             span Facebook.com/exampleagency
                    .col-xl-6
                        form
                            input(type="text" placeholder="Полное имя") 
                            input(type="email" placeholder="E-mail")
                            input(type="tel" placeholder="Телефон")
                            textarea(rows="4")
                            a(href="#") Политика обработки персональных данных
                            button.btn Отправить заявку
        .hidden
            #block-1.block-popup
                img(src="img/1.jpg", alt="pic-1")
                h2 Сахара
                p Текст для параграфа 1 
            #block-2.block-popup
                img(src="img/2.jpg", alt="pic-2")
                h2 Газпром
                p Текст для параграфа 2
            #block-3.block-popup
                img(src="img/3.jpg", alt="pic-3")
                h2 Nokia
                p Текст для параграфа 3
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="js/jquery.magnific-popup.min.js")
        script(src="js/app.js")